.logos {
    padding-top: 100px;
    padding-bottom: 90px;
}
.logos-title {
    text-align: center;
    margin-bottom: 90px;
}
.logos-wrapper {
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
}

.logo-box {
    padding: 20px 60px;
    border-radius: 32px;
    border: 1.084px solid #FFF;
    opacity: 0.2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
    img{
        width: 100px;
    }
}
